<div id="main"></div>

<script type="text/html" data-id="homepage">
  <center>
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Create and update your website instantly</h1>
        <form class="pure-form">
          <input type="url" class="fb_url pure-input-rounded pure-input-1-3" placeholder="http://facebook.com/your page ...">
          <button type="submit" class="pure-button">Build Website</button>
        </form>
        <h4>Mobile Friendly and Search Engine Optimized Templates</h4>
      </div>
    </div>
  </center>
</script>

<script type="text/html" data-id="templates">
  <center>
  <h1>Select a Template for your website</h1>
    <div class="pure-g">
      <div class="pure-u-1-4">
        <h2 class="templateName" data-id="1">Basic</h2>
      </div>
      <div class="pure-u-1-4">
        <h2 class="templateName" data-id="2">Parallax</h2>
      </div>
      <div class="pure-u-1-4">
        <h2 class="templateName" data-id="3">Ellegance</h2>
      </div>
      <div class="pure-u-1-4">
        <h2 class="templateName" data-id="4">Professional</h2>
      </div>
    </div>
  </center>
</script>